// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
.centrar
{
    margin-right: 6%;
    text-align: center;
    margin-left: 11%;
    margin-right: auto;

}
.centrar1
{
    margin-right: 3%;
    text-align: center;
    margin-left: 2%;
    margin-right: auto;

}

#form {
    width: 550px;
    margin: 0 auto;
    height: 100px;
  }

  #form p {
    text-align: center;
  }

  #form label {
    font-size: 20px;
  }

  input[type="radio"] {
    display: none;
  }

  label {
    color: grey;
  }

  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }

  label:hover,
  label:hover ~ label {
    color: orange;
  }

  input[type="radio"]:checked ~ label {
    color: orange;
  }

