// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.centrar
{
    margin-right: 6%;
    text-align: center;
    margin-left: 11%;
    margin-right: auto;

}
.centrar1
{
    margin-right: 2%;
    text-align: center;
    margin-left: 2%;
    margin-right: auto;

}

